.avia-section.av-t997q-a1ba320f645d17e7f4d0be75e49f0639{
background-color:#ffffff;
background-image:unset;
}

#top .hr.hr-invisible.av-syzoy-f0ba07307fdbc794c8ad685dd52a7973{
height:50px;
}

.flex_column.av-sfeg2-d3c083769dcc4eedb36247f5b9edd60e{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top #wrap_all .avia-button.av-ras6e-3ba9389985b5f7aa3c78a7165751731b{
background-color:#ff0000;
border-color:#ff0000;
color:#ffffff;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}

.flex_column.av-qixsa-e1298c24e58a3149b292a8f075992709{
border-width:25px;
border-color:#ff0000;
border-style:solid;
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-owpvi-217f53be50cd34569ef0f9354d4dfc7a{
height:100px;
}

.avia-section.av-o7nhe-84a0a39941591b52f5aea8ad3c514c03{
background-repeat:no-repeat;
background-image:url(../images/bg1.jpg);
background-position:50% 50%;
background-attachment:fixed;
}

#top .av_textblock_section.av-ns72u-cb466d5be16e68414658ef6e34edcbc9 .avia_textblock{
color:#ffffff;
}

#top .hr.av-mv7qe-2463650bf9dbe37d32074e9f69c010ac{
margin-top:0px;
margin-bottom:30px;
}
.hr.av-mv7qe-2463650bf9dbe37d32074e9f69c010ac .hr-inner{
width:100px;
border-color:#ff0000;
max-width:45%;
}
.hr.av-mv7qe-2463650bf9dbe37d32074e9f69c010ac .av-seperator-icon{
color:#f46b2b;
}

#top .hr.hr-invisible.av-mij0q-37a799262e512657da176521eda3fb7a{
height:50px;
}

.flex_column.av-25smi-3a803945c070283e16dda939dac21355{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
padding:15px 15px 15px 15px;
background-color:#353535;
}

#top .av_textblock_section.av-lapea-acf30adca7a9c9e871207403adea42ed .avia_textblock{
color:#ffffff;
}

#top .hr.hr-invisible.av-klnme-0e861a65ee922aec5f719e388373c102{
height:30px;
}

#top .av_textblock_section.av-k19fu-3a60d22d62c14015d6b5d873407576d4 .avia_textblock{
color:#ffffff;
}

.flex_column.av-jd1am-764c8999aa61eb9c3ff03749cac83cc1{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
padding:15px 15px 15px 15px;
background-color:#353535;
}

#top .av_textblock_section.av-1vocm-3a2c549d1d4edcb4e3b08458c434ecc0 .avia_textblock{
color:#ffffff;
}

#top .hr.hr-invisible.av-i622m-ed405f46d30b5e831fe7df15b72f4d01{
height:30px;
}

#top .av_textblock_section.av-hhzk6-b6f29ed388133eec304175522526afbc .avia_textblock{
color:#ffffff;
}

.flex_column.av-h3uau-b87c6df9ca260dfbbf2c2a784e405dce{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
padding:15px 15px 15px 15px;
background-color:#353535;
}

#top .av_textblock_section.av-ghgcy-bb78c71a4532de617d8dba675e889b1b .avia_textblock{
color:#ffffff;
}

#top .hr.hr-invisible.av-g2lem-79c75ae82a3c7b151df643b84f9b4c6a{
height:30px;
}

#top .av_textblock_section.av-fclra-c47a67ed2ecbe5c5d39f6bd18e7b7ce8 .avia_textblock{
color:#ffffff;
}

.flex_column.av-ehtvy-433bc8a9692261547e6232f6b6a5dd67{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
padding:15px 15px 15px 15px;
background-color:#353535;
}

#top .av_textblock_section.av-dtr56-f80167845db69ae299e695dbf1742d9f .avia_textblock{
color:#ffffff;
}

#top .hr.hr-invisible.av-dgkga-a31e2383c27bfe0d34489c392a146a3f{
height:30px;
}

#top .av_textblock_section.av-cq0l6-8564186673b5531c2ac11ceedb40ac94 .avia_textblock{
color:#ffffff;
}

#top .hr.hr-invisible.av-cb3uy-3e34cf4b70a2c2122d4f2a5bd37d8fad{
height:100px;
}

.avia-section.av-bttpq-1b8d95a9730cae57feb501fd34b4755a{
background-color:#ffffff;
background-image:unset;
}

#top .hr.av-abqsu-bc64bf4a9ad8044c2e240e3b8647bedb{
margin-top:0px;
margin-bottom:30px;
}
.hr.av-abqsu-bc64bf4a9ad8044c2e240e3b8647bedb .hr-inner{
width:100px;
border-color:#ff0000;
max-width:45%;
}
.hr.av-abqsu-bc64bf4a9ad8044c2e240e3b8647bedb .av-seperator-icon{
color:#f46b2b;
}

.flex_column.av-9oigi-50fe77bf597f34088c0ce29a751a90be{
border-width:2px;
border-color:#ff0000;
border-style:solid;
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
padding:10px 10px 10px 10px;
}

.avia-image-container.av-933be-66883febca18cead87d56b59682bb277 .av-image-caption-overlay-center{
color:#ffffff;
}

#top #wrap_all .avia-button.av-7vfmu-1115ae99c2185a455dbb1ee20dbd1d12{
background-color:#ff0000;
border-color:#ff0000;
color:#ffffff;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}

.flex_column.av-7pcni-3f78d82beba6a56c003fefc1156caf54{
border-width:2px;
border-color:#ff0000;
border-style:solid;
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
padding:10px 10px 10px 10px;
}

.avia-image-container.av-6xisu-495bf15ccbab0624a5aa74d95d53dc71 .av-image-caption-overlay-center{
color:#ffffff;
}

#top #wrap_all .avia-button.av-5vrji-4441133e2a895bc6020212777e6ef61f{
background-color:#ff0000;
border-color:#ff0000;
color:#ffffff;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}

.flex_column.av-56662-092c8d6fe254971e5627fa3754c79ca7{
border-width:2px;
border-color:#ff0000;
border-style:solid;
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
padding:10px 10px 10px 10px;
}

.avia-image-container.av-4kn0i-cffa595e899a63aa14a7a25031334edf .av-image-caption-overlay-center{
color:#ffffff;
}

#top #wrap_all .avia-button.av-3h5ve-9a6f314a5c58cd6f307d38e40f91c85b{
background-color:#ff0000;
border-color:#ff0000;
color:#ffffff;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}

#top .hr.hr-invisible.av-2gsm2-76fb5d3f0199f91a20bc4be920779aee{
height:100px;
}

#top .hr.av-1nqbe-de88b45768860a4b7b460cab5997b4cc{
margin-top:0px;
margin-bottom:30px;
}
.hr.av-1nqbe-de88b45768860a4b7b460cab5997b4cc .hr-inner{
width:100px;
border-color:#ff0000;
max-width:45%;
}
.hr.av-1nqbe-de88b45768860a4b7b460cab5997b4cc .av-seperator-icon{
color:#f46b2b;
}

#top .av-masonry.av-14u2i-b1a25f2e6026b9909632da8c9b20cb47{
background-color:#0a0a0a;
}

#top .hr.av-1nqbe-1-8f854fad766e36e16d5354c2b63d0dfc{
margin-top:0px;
margin-bottom:30px;
}
.hr.av-1nqbe-1-8f854fad766e36e16d5354c2b63d0dfc .hr-inner{
width:100px;
border-color:#ff0000;
max-width:45%;
}
.hr.av-1nqbe-1-8f854fad766e36e16d5354c2b63d0dfc .av-seperator-icon{
color:#f46b2b;
}

.avia-logo-element-container.av-kz8b25aj-d7fd09658718d6db48ca1a5e5a8a3df0 .av-partner-fake-img{
background-size:cover;
}

